@tailwind base;
@tailwind components;
@tailwind utilities;
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 40px 80px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 64px;
}
.account_navigation {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 227px;
}
.link {
    text-decoration: none;
    color: #101010;
    font-size: 16px;
    font-weight: 500;
}

.account_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    padding: 32px;
    border-radius: 20px;
}
.account_container h3 {
    font-size: 38px;
    font-weight: 600;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h5 {
    font-size: 20px;
    font-weight: 500;
}
.header button {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 14px;
    background: #888;
    border: none;
    border-radius: 6px;
    color: #fff;
}
.header button:hover {
    background: #4d4d4d;
    border-radius: 6px;
}
.photo_section {
    display: flex;
    gap: 20px;
}
.photo_section img {
    background: #888;
    height: 62px;
    width: 62px;
    border-radius: 50%;
}
.photo_actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.photo_actions button {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 14px;
    border: 1px solid #C2C2C2;
    border-radius: 6px;
    align-self: self-start;
    background: #fff;
}
.photo_actions p {
    font-size: 14px;
    font-weight: 400;
}

.name_fields {
    display: flex;
    gap: 16px;
}
.fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.fields label {
    font-size: 14px;
    font-weight: 500;
    color: #888;
}
.fields input {
    background: #F1F0EE;
    border-radius: 8px;
    padding: 10px;
    border: none;
    width: 434px;
}
.password_fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}