.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}
.top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    border-bottom: 1px solid #1010102b;
    padding: 64px 0;
}
.top_section_title {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
}
.top_section_btn {
    padding: 10.5px 11.5px;
    background: #9B1E1C;
    border: none;
    border-radius: 8px;
}
.top_section_btn_link {
    text-decoration: none;
    color: #fff;
}

.bottom_section {
    display: flex;
    flex-direction: column;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_section {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.section_title {
    font-size: 17px;
    font-weight: 500;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 13px;
}

.link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #888;
}
.link:hover {
    text-decoration: underline;
}


.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 32px;
}
.logo_container {
    display: flex;
    flex-direction: column;
    gap: 34px;
    text-align: center;
}
.logo {
    display: flex;
    gap: 10.5px;
}
.logo_img {
    width: 35px;
}
.logo_text {
    width: 120px;
}
.links_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}
.links_container img {
    max-width: 169px;
}
.links {
    display: flex;
    gap: 18.6px;
    font-size: 14px;
    font-weight: 500;
    color: #888;
}

.section_home {
    margin-right: 316px;
}
.section_company {
    margin-right: 90px;
}



@media (max-width: 768px) {
    .wrapper {
        padding: 0 40px;
    }
    .top_section {
        flex-direction: column;
        gap: 30px;
    }
    .top_section_title {
        font-size: 32px;
    }
    .top_section_btn {
        font-size: 16px;
        font-weight: 500;
        padding: 8.5px 11.5px;
        align-self: start;
    }
    .footer_content {
        justify-content: space-between;
    }
    .footer_section {
        width: 0;
    }
    .section_home {
        margin: 0;
    }
    .section_company {
        margin: 0;
    }
    .nav {
        gap: 10px;
    }
    .link {
        font-weight: 400;
    }

    .footer_bottom {
        align-items: center;
    }
    .logo_container p {
        font-size: 12px;
        font-weight: 500;
    }
    .links p {
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .footer_content {
        flex-wrap: wrap;
    }
    .section_clothes {
        margin-bottom: 20px;
    }
    .links {
        gap: 10px;
    }
}








