.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 69px 0;
}
.section_about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    border-radius: 16px;
}
.title_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.title_text p {
    font-size: 17px;
    font-weight: 500;
    color: #888;
}
.title_text h3 {
    font-size: 38px;
    font-weight: 600;
}
.tiles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 64px;
}
.tiles_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.tiles_text {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F1F0EE;
    border-radius: 16px;
}
.tiles_text p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.48px;
    line-height: 24px;
    padding: 64px;
}
.icon_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 0;
    gap: 38px;
}
.icon_container p {
    font-size: 17px;
    font-weight: 500;
}
.icons {
    display: flex;
    gap: 44px;
}



.section_delivery {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px 0;
}
.section_delivery_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section_delivery_text h3 {
    font-size: 38px;
    font-weight: 600;
}
.section_delivery_text p {
    font-size: 16px;
    color: #888;
}
.section_delivery_cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}
.delivery_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    background: #fff;
    border-radius: 16px;
    height: 110px;
}
.delivery_card_title {
    display: flex;
    justify-content: space-between;
}
.delivery_card_title h5 {
    font-size: 17px;
    font-weight: 500;
    color: #101010;
}
.delivery_card_title p {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #888;
    background: #F1F0EE;
    width: 28px;
    height: 28px;
    border-radius: 8px;
}
.delivery_card:hover .delivery_card_title p {
    color: #fff;
    background: #9B1E1C;
}
.delivery_card p {
    font-size: 16px;
    color: #4d4d4d;
}




.section_pay {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px 0;
}
.section_pay_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section_pay_text h3 {
    font-size: 38px;
    font-weight: 600;
}
.section_pay_text p {
    color: #888;
    font-size: 16px;
}
.section_pay_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.pay_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    gap: 14px;
    padding: 31px 0;
}
.pay_card p {
    font-size: 20px;
    font-weight: 500;
}

#pay_card_img01 {
    height: 60px;
    width: 60px;
    background: url(./credit-card.svg);
}
.pay_card:hover #pay_card_img01 {
    background: url(./credit-card-red.svg);
}
#pay_card_img02 {
    height: 60px;
    width: 60px;
    background: url(./wallet.svg);
}
.pay_card:hover #pay_card_img02 {
    background: url(./wallet-red.svg);
}
#pay_card_img03 {
    height: 60px;
    width: 60px;
    background: url(./calculator.svg);
}
.pay_card:hover #pay_card_img03 {
    background: url(./calculator-red.svg);
}




.section_questions {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px 0;
}
.section_questions_title {
    font-size: 38px;
    font-weight: 600;
}
.question_delivery, .question_order {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.question_delivery h3, .question_order h3 {
    font-size: 20px;
    font-weight: 500;
}
.overlays {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.modal_link_name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    background: #fff;
    color: #888;
    width: 635px;
    padding: 16px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 500;
}
.modal_link_name::after {
    content: "";
    position: absolute;
    top: 20.6px;
    right: 20.6px;
    width: 12px;
    height: 12px;
    background-image: url('./arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}
.modal_link_name:hover {
    color: #860202;
}
.modal_link_name:hover::after {
    background-image: url('./arrow-right-red.svg');

}




.section_contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.section_contacts_title {
    font-size: 38px;
    font-weight: 600;
}
.contacts_container {
    display: flex;
    justify-content: space-between;
}
.contacts_info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info_container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.info_container p {
    font-size: 20px;
    font-weight: 500;
}
.info_name {
    display: flex;
    align-self: start;
    background: #9b1e1c10;
    padding: 6px 8px;
    border-radius: 8px;
    gap: 5px;
}
.info_name p {
    font-size: 16px;
    font-weight: 400;
    color: #9B1E1C;
}


.contacts_form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}
.contacts_form h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.72px;
    margin-bottom: 16px;
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 40px;
}
.form_inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input p {
    font-size: 14px;
    font-weight: 500;
    color: #888;
}
.input input {
    background: #F1F0EE;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 37px;
    padding: 10px;
}
.input textarea {
    background: #F1F0EE;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 118px;
    padding: 10px;
}
.checkbox_text {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.checkbox {
    height: 20px;
    width: 20px;
}

.checkbox_text label {
    font-size: 16px;
    color: #4d4d4d;
}
.subm_btn {
    border: none;
    outline: none;
    background: #9B1E1C;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10.5px 0;
    border-radius: 8px;
}


.contacts_map {
    position:relative;
    overflow:hidden;
}
.contacts_map a {
    color:#eee;
    font-size:12px;
    position:absolute;
    top:0px;
}
.contacts_map iframe {
    position:relative;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    border: none;
}






@media (max-width: 768px) {
    .wrapper {
        padding: 0 16px;
    }
    .tiles_container {
        display: flex;
        flex-direction: column;
    }
    .section_delivery_cards {
        grid-template-columns: repeat(3, 1fr);
        
    }
    .pay_card p {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding: 0 20px;
    }
    .overlays {
        gap: 16px;
    }
    .modal_link_name {
        width: 355px;
    }

    .contacts_container {
        flex-direction: column;
        gap: 40px;
        position: relative;
    }
    .contacts_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* order: 1; */
    }
    .contacts_form {
        /* order: 3; */
    }
    .contacts_map {
        /* order: 2; */
        margin-top: 20px;
    }
    .form {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 400px) {

}






















